*.ARJ
*.ARJX
*.BOT
*.INF
*.LNK
*.O
*.pptx
*.PRG
*.PRX
*.TTP
*.ST
*.code-workspace
*.idb
*.ilk
*.pdb
*.lastbuildstate
*.manifest
*.opensdf
*.res
*.rc
*.sdf
*.suo
*.tlog
*.unsuccessfulbuild
*.~??
*.user
Copie de*.*
*.tmp
ipch
.vs
TEMP/
