*.ARJ
*.ARJX
*.au
*.BLS
*.BLZ
*.BSQ
*.BOT
*.INF
*.LNK
*.O
*.pptx
*.PRG
*.PRX
*.TTP
*.ST
*.code-workspace
*.idb
*.ilk
*.pdb
*.lastbuildstate
*.recipe
*.manifest
*.opensdf
*.res
*.rc
*.sdf
*.suo
*.tlog
*.unsuccessfulbuild
*.~??
*.user
Copie de*.*
*.tmp
Dualis.aup
Dualis_data
ipch
.vs
BLSPLAY.CFG
BLZPLAY.CFG
WIZPLAY.CFG
BLITZIK/BLITZIK1.TXT
EXTERN/*.zip
DOCS/DOXY/html/
DOCS/DOXY/latex/
zRAWDATA/
EXTERN/hatari-master/
PC/_binaries/
PC/Release/
PC/Debug/
PC/Release_BLZonly/
PC/Debug_BLZonly/
out/
REF/
UBI30/DATA/UBI/UBI.zip
TEMP/
_logs/
_docs_ST/
EXTERN/stsys10
BIN/
BLITZIK/DATABIN/
REBIRTH/DATABIN/
TOOLS/EMUEXEC/EMUEXEC.CFG
TOOLS/EMUEXEC/EMUEXEC.TOS

